<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/global.css" />
		<title><%= car.model %></title>
	</head>
	<body>
		<h1>Car Model is <%= car.model %></h1>
		<p>Car color is <%= car.color %></p>
		<p>Made in the year <%= car.year %></p>

		<form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
			<button type="submit">Delete <%= car.model %></button>
		</form>
		<div id="edit-back">
			<a href="/cars/<%= car._id %>/editCar">Edit a Car</a>
			<a href="/cars/">Back to Cars</a>
		</div>
	</body>
</html>
